imports:
    - path: deploy-template.jinja

resources:
    - name: deploy
      type: deploy-template.jinja
      properties:
          zone: us-central1-b
          image: infrakit/devbundle:master-2662
          configRoot: https://raw.githubusercontent.com/wongwill86/examples/nick/latest/swarm/
          configURL: https://raw.githubusercontent.com/wongwill86/examples/nick/latest/metadata/google/export.ikt
          user: nturner
          #password:
          project: nick
          managerIP0: 10.128.15.249
          managerIP1: 10.128.15.250
          managerIP2: 10.128.15.251
          managerIP3: 10.128.15.252
          managerIP4: 10.128.15.253
          sizeManager: 1
          sizeWorker: 1
          instanceTypeManager: n1-standard-16
          instanceTypeWorker: f1-micro
          composeLocation: https://raw.githubusercontent.com/wongwill86/air-tasks/nick/deploy/docker-compose-CeleryExecutor.yml
